<h1 id="title">
  A whole form with autofocus:
</h1>

<form>
  <label for="first-input">Email</label>
  <input
    id="first-input"
    type="email"
    placeholder="first focusable input"
    {{autofocus}}
  />
  <label for="second-input">Password</label>
  <input id="second-input" type="password" placeholder="second input" />
  <button id="first-button" type="submit">
    A button
  </button>
</form>