<h2 id="title">
  A whole form with autofocus:
</h2>

<form {{autofocus}}>
  <a href="#">link</a>
  <input placeholder="first focusable input">
  <input placeholder="second input">
  <button>Button</button>
</form>

{{outlet}}